<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="synowiec.application">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeRegist"
        android:usesCleartextTraffic="true">
        <activity android:name=".patient.PatientAppointmentsActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".patient.PatientDashboardActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".patient.PatientReservationActivity"></activity>
        <activity android:name=".patient.PatientSearchActivity"></activity>
        <activity android:name=".patient.PhysioDetailActivity"></activity>
        <activity
            android:name=".physio.PhysioDashboardActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".patient.PatientLoginActivity"></activity>
        <activity android:name=".physio.PhysioLoginActivity"></activity>
        <activity android:name=".patient.PatientRegisterActivity"></activity>
        <activity android:name=".physio.PhysioRegisterActivity"></activity>
    </application>

</manifest>